@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* universal styles */

*{
    margin: 0;
    padding: 0;
   
}


h1{
    color: rgb(216, 112, 129);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 50px;

}